version: "3.7"

services:
  app:
    build: .
    volumes:
      - .:/app
    depends_on:
      - db_psql

  db_psql:
    image: postgres:15
  environment:
      - POSTGRES_DB=${DB_NAME}  
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
  volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: